################################################################################
# 이 .gitignore 파일은 Microsoft(R) Visual Studio에서 자동으로 만들어졌습니다.
################################################################################

/Study/coding/ex/Magic/.vs/Magic/v16/ipch/AutoPCH/324e19f1757b5b22/SAMPLE.ipch
/Study/coding/ex/Magic/Debug
00_KGCA/fbx/lib/vs2017/x64/debug/libfbxsdk-md.lib
00_KGCA/fbx/lib/vs2017/x64/debug/libfbxsdk-mt.lib
00_KGCA/KGCA39/.vs/KGCA39/v16/ipch/AutoPCH/a67edfdf36c4172a/KCORE.ipch
00_KGCA/KGCA39/.vs/KGCA39/v16/ipch/AutoPCH/f3e445c6238dac9e/KDEPTHSTENCIL.ipch
00_KGCA/KGCA39/.vs/KGCA39/v16/ipch/AutoPCH/b1980924f261267c/SAMPLE.ipch
00_KGCA/KGCA39/.vs/KGCA39/v16/ipch/AutoPCH/6638eb586695b566/SAMPLE.ipch
00_KGCA/KGCA39/.vs/KGCA39/v16/ipch/AutoPCH/8221a642327e8c80/KTIMER.ipch
00_KGCA/KGCA39/.vs/KGCA39/v16/ipch/AutoPCH/8e782c1f807d1f14/KMODEL.ipch
00_KGCA/KGCA39/.vs/KGCA39/v16/ipch/AutoPCH/a9ccc079b33730be/KCAMERA.ipch
00_KGCA/KGCA39/.vs/KGCA39/v16/ipch/AutoPCH/b305eee102b8d698/KDXSTATE.ipch
00_KGCA/KGCA39/.vs/KGCA39/v16/ipch/AutoPCH/b55e63c590c33a6a/KTEXTURE.ipch
00_KGCA/KGCA39/.vs/KGCA39/v16/ipch/AutoPCH/fe42c8c43864f963/KDEVICE.ipch
00_KGCA/KGCA39/.vs/KGCA39/v16/ipch/AutoPCH/fffdc835d1a57c23/KFBXANIMATION.ipch
*.ipch
Study/coding/Mine/Magic/.vs/Mine/v16/ipch/AutoPCH/c740aad8bb856bd8/TWINDOW.ipch
01_KGCA/fbx/lib/vs2017/x64/debug/libfbxsdk-mt.lib
01_KGCA/fbx/lib/vs2017/x64/debug/libfbxsdk-md.lib
/01_KGCA/Source/.vs/Source/v16/Browse.VC.db-shm
*.db-shm
/01_KGCA/Source/.vs/Source/v16/Solution.VC.db-wal
/01_KGCA/Source/.vs/Source/v16/Browse.VC.opendb
*.dsn
*.log
*.idb
*.pdb
*.tlog
01_KGCA/Graphics/FBX/lib/vs2017/x64/debug/libfbxsdk-mt.lib
01_KGCA/Graphics/FBX/lib/vs2017/x64/debug/libfbxsdk-md.lib
*.pdb
*.idb
