################################################################################
# 이 .gitignore 파일은 Microsoft(R) Visual Studio에서 자동으로 만들어졌습니다.
################################################################################

/Study/coding/ex/Magic/.vs/Magic/v16/ipch/AutoPCH/324e19f1757b5b22/SAMPLE.ipch
/Study/coding/ex/Magic/Debug
00_KGCA/fbx/lib/vs2017/x64/debug/libfbxsdk-md.lib
00_KGCA/fbx/lib/vs2017/x64/debug/libfbxsdk-mt.lib
