################################################################################
# 이 .gitignore 파일은 Microsoft(R) Visual Studio에서 자동으로 만들어졌습니다.
################################################################################

/.vs/TBasis2DSamples/v15
/.vs
/trunk/.vs/KGCA/v15
/trunk/.vs/KGCA/v15/Solution.VC.db-wal
/trunk/.vs/KGCA/v15/Solution.VC.db-shm
/trunk/.vs/KGCA/v15/Solution.VC.db
/trunk/.vs/KGCA/v15/Browse.VC.opendb
/trunk/.vs/KGCA/v15/Browse.VC.db
/output/Debug/TBasisGameSvr/TBasisGameSvr.tlog/TBasisGameSvr.lastbuildstate
/output/Debug/TBasisGameSvr/TBasisGameSvr.tlog/rc.write.1.tlog
/output/Debug/TBasisGameSvr/TBasisGameSvr.tlog/rc.read.1.tlog
/output/Debug/TBasisGameSvr/TBasisGameSvr.tlog/rc.command.1.tlog
/output/Debug/TBasisGameSvr/TBasisGameSvr.tlog/link.write.1.tlog
/output/Debug/TBasisGameSvr/TBasisGameSvr.tlog/link.read.1.tlog
/output/Debug/TBasisGameSvr/TBasisGameSvr.tlog/link.command.1.tlog
/output/Debug/TBasisGameSvr/TBasisGameSvr.tlog/CL.write.1.tlog
/output/Debug/TBasisGameSvr/TBasisGameSvr.tlog/CL.read.1.tlog
/output/Debug/TBasisGameSvr/TBasisGameSvr.tlog/CL.command.1.tlog
/output/Debug/TBasisGameSvr.pdb
/output/Debug/TBasisGameSvr.ilk
/output/Debug/TBasisGameSvr.exe
/output/Debug/TBasisGameSvr/vc141.pdb
/output/Debug/TBasisGameSvr/TUdpSocket.obj
/output/Debug/TBasisGameSvr/TBasisSvr.obj
/output/Debug/TBasisGameSvr/TBasisGameSvr.res
/output/Debug/TBasisGameSvr/TBasisGameSvr.pch
/output/Debug/TBasisGameSvr/TBasisGameSvr.log
/output/Debug/TBasisGameSvr/stdafx.obj
/output/TBasisGS_0.pdb
/output/TBasisGS_0/TWorkThread.obj
/output/TBasisGS_0/TUser.obj
/output/TBasisGS_0/TThread.obj
/output/TBasisGS_0/TTargetPointMgr.obj
/output/TBasisGS_0/TSynchronize.obj
/output/TBasisGS_0/TStreamPacket.obj
/output/TBasisGS_0/TServerZoneCallFunction.obj
/output/TBasisGS_0/TServerObj.obj
/output/TBasisGS_0/TServerNpcCallFunction.obj
/output/TBasisGS_0/TServerLoginAccountCallFunction.obj
/output/TBasisGS_0/TServerIOCP.obj
/output/TBasisGS_0/TServerChatCallFunction.obj
/output/TBasisGS_0/TServerCallFunction.obj
/output/TBasisGS_0/TServer.obj
/output/TBasisGS_0/TNpc.obj
/output/TBasisGS_0/TMath.obj
/output/TBasisGS_0/TDebugString.obj
/output/TBasisGS_0/TCharacter.obj
/output/TBasisGS_0/TBasisGS_0.tlog/TBasisGS_0.lastbuildstate
/output/TBasisGS_0/TBasisGS_0.tlog/Lib.command.1.tlog
/output/TBasisGS_0/TBasisGS_0.tlog/Lib-link.write.1.tlog
/output/TBasisGS_0/TBasisGS_0.tlog/Lib-link.read.1.tlog
/output/TBasisGS_0/TBasisGS_0.tlog/CL.write.1.tlog
/output/TBasisGS_0/TBasisGS_0.tlog/CL.read.1.tlog
/output/TBasisGS_0/TBasisGS_0.tlog/CL.command.1.tlog
/output/TBasisGS_0/TBasisGS_0.pdb
/output/TBasisGS_0/TBasisGS_0.log
/output/TBasisGS_0/TAcceptor.obj
/trunk/.vs/KGCA/v15/.suo
/trunk/SampleLIb_0/SampleLIb_0.vcxproj.user
*.filters
/trunk/StringStream/x64/Debug
*.user
*.log
/trunk/SampleCS/TDemoGameSvrLig_0/*.lib
/Lib/*.lib
/trunk/.vs/KGCA/v15/ipch
/src/.vs/KGCA/v15
/output/TBasisGS_0/TBasisGS_0.tlog
/trunk/RTTI_2/x64/Debug
/trunk/StaticUserQueue/x64/Debug
/trunk/x64/Debug
/output/TBasisGS_0
/output
*.lib
/doc/~$기초프로그래밍.docx
/trunk/ProjectC/x64/Debug
/outputc
/trunk/StudentMgr/2019년04월03일16시11분42초.txt
/trunk/StudentMgr/2019년04월03일16시04분25초.txt
/trunk/ReportCard_2/data.txt
/trunk/BitmapSave/x64/Debug
/doc/~$C언어.pptx
/trunk/StudentMgr/2019년04월10일14시25분18초.txt
/trunk/StudentMgr/2019년04월10일14시24분26초.txt
/trunk/StudentMgr/2019년04월10일14시16분45초.txt
/trunk/StudentMgr/2019년04월10일14시13분23초.txt
/trunk/StudentMgr/2019년04월10일14시00분33초.txt
/trunk/StudentMgr/2019년04월10일13시58분40초.txt
/trunk/StudentMgr/2019년04월10일13시57분04초.txt
/trunk/StudentMgr/2019년04월10일13시54분29초.txt
/doc/~$WLock 빠른 성능의.docx
/trunk/LinkedList_2/demo.txt
/doc/~$CppGuide.pptx
/doc/~$DataStructure.pptx
/trunk/AVLTree_Begin/x64/Debug
/trunk/Debug
/trunk/Sample_0/Debug
/src/lib
/src/include
/src/output
/src/TBasis2D-master/src/.vs/MyProjects/v15
/trunk/RaccoonDog/Debug
/trunk/TCPFighter_Server/x64/Debug
/doc/01장_UI UX 디자인의 개요.pptx
/trunk/AbstractFactory_0/ClassDiagram.cd
/trunk/CompositeNPrototype/ClassDiagram.cd
/doc/~$ai.pptx
/doc/~$SocketProgramming.pptx
/trunk/PacketEventSelectSvr/x64/Debug
/doc/~$WinAPI.pptx
/trunk/SampleAsyncIO_0/COPYHWP.ISO
/trunk/SampleAsyncIO_0/TBasis2Dcopy.zip
/include/TSelectModelLib
/trunk/udpMulticastSender/x64/Debug
/trunk/CQuery2/Debug
/trunk/ODCBUpdate/Debug
/trunk/ODCBUpdate/x64/Debug
*.ldb
/trunk/ODBCClassSample/save0.bmp
/trunk/odbcImage/photo.bmp
/trunk/ODCBUpdate/Update.aps
/trunk/ODBCClassSample/save3_4.bmp
/trunk/ODBCClassSample/save2_4.bmp
/trunk/ODBCClassSample/save1_4.bmp
/trunk/ODBCClassSample/save0_4.bmp
/db/db-schema/mssql/.vs/SampleDB/v15
/trunk/SampleODBC/save0_7.bmp
/trunk/StudentMgr/2019년09월09일17시27분54초.txt
/trunk/StudentMgr/2019년09월09일17시27분44초.txt
/trunk/FileOI_2/sample.bak
/trunk/SampleMutexTest/x64/Debug
/doc/~$DesignPatterns.pptx
/trunk/StudentMgr/2020년03월31일12시57분10초.txt
/trunk/StudentMgr/2020년03월31일12시56분31초.txt
/trunk/StudentMgr/2020년03월31일12시56분06초.txt
/trunk/SampleODBC/11        .bmp
/trunk/DialogBox/x64/Debug
/02_TBasis2D.7z
/trunk/.vs/KGCA/v16
/trunk/DLL/dll_lib/output/Debug
/trunk/DLL/dll_lib/Sample/.vs/00_TBasisSample2D/v15/ipch
/trunk/DLL/dll_lib/Sample/.vs/00_TBasisSample2D/v15
/trunk/SmartPoint_0/x64/Debug
/log
/doc/dp/gof_design
/trunk/BinarySearch/x64/Debug
/trunk/출력-빌드.txt
